*{
    padding: 0;
    margin: 0;
}
body{
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}


.navbar{
    display: flex;
    padding: 10px;
    gap: 20px;
    align-items: center;
    background-color: whitesmoke;
    margin: 5px;
    border-bottom: 1px black solid;
    text-transform: capitalize;
}
.navbar-s1__heading{
    color: #A435F0;
}
.navbar-s2{
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 20px;
}
.navbar-s2 input{
    border: none;
    width: 100%;
    background-color: transparent;
}
.navbar-s2 input:focus{
    outline: none;
}
.navbar-s3{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}
.my-learning{
    position: relative;
    cursor: pointer;
}
.my-learning__popup{
    position: absolute;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    top: 150%;
    right: 0%;
    width: 100px;
    display: none;
}
.my-learning:hover .my-learning__popup{
    display: block;
}

.categories{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid 1px black;
}
.categories p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-transform: capitalize;
}
.intro-img{
    position: relative;
    text-transform: capitalize;
}
.intro-img img{
   width: 100%; 
}
.intro-img__offer{
    width: 34%;
    position: absolute;
    top: 20%;
    left: 10%;
}
.intro-img__offer h1{
    margin-bottom: 10px;
}
.recommended{
    padding: 10px;
    text-transform: capitalize;
}
.recommended__subtopic{
    margin: 5px;
}
.recommended__container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: space-between;
    gap: 10px;
}
.course-card{
    width: 250px;
    margin: 20px;
}
.course-card img{
    width: 100%;
    height: 70%;
}
.topic-recommended{
    padding: 10px;
    text-transform: capitalize;
}
.topic-recommended__heading{
    padding-top: 10px;
}
.topic-recommended p{
    padding: 5px;
    border: 1px solid gray;
    flex-basis: 25%;
    flex-grow: 1;
}
.topic-recommended__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.popular{
    padding: 10px;
    text-transform: capitalize;
}
.popular__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}
.footer{
    padding: 10px;
    background-color: black;
    color: white;
}
.footer__one{
    display:flex;
    gap: 20px;
    text-transform: capitalize;
}
.footer__one p{
    margin: 20px;
    font-size: 20px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}